@charset "utf-8";





table.bbs_write								{width:100%; margin-top:25px; border-top:3px solid #c7c7c7;}
table.bbs_write tr th						{padding-left:25px; text-align:left; border-bottom:1px solid #ddd; font:bold 14px "Malgun Gothic","Dotum","Arial","verdana","Helvetica"; color:#666; vertical-align:middle;}
table.bbs_write tr th.write_top				{height:40px;}
table.bbs_write tr td						{padding:9px 0; border-bottom:1px solid #ddd; font:normal 14px "Malgun Gothic","Dotum","Arial","verdana","Helvetica"; color:#777;}
table.bbs_write tr td input					{width:805px; height:25px; padding-left:10px; border-top:1px solid #bebebe; border-left:1px solid #bebebe; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; font:normal 14px "Malgun Gothic","Dotum","Arial","verdana","Helvetica"; color:#444;}
table.bbs_write tr td textarea				{width:795px; height:230px; margin-bottom:5px; overflow-y:scroll; border-top:1px solid #bebebe; border-left:1px solid #bebebe; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;}
table.bbs_write tr td select.category	{width:150px; height:25px; border-top:1px solid #bebebe; border-left:1px solid #bebebe; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; font:normal 14px "Malgun Gothic","Dotum","Arial","verdana","Helvetica"; color:#777;}
table.bbs_write tr td select.camp		{width:817px; height:29px; border-top:1px solid #bebebe; border-left:1px solid #bebebe; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; font:normal 14px "Malgun Gothic","Dotum","Arial","verdana","Helvetica"; color:#777;}


p.btn_wirte			{margin:65px 0 100px 0; text-align:center;}

