<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Package</servlet-name>
    <servlet-class>packageInfo.PackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Package</servlet-name>
    <url-pattern>*.package</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jan_res</servlet-name>
    <servlet-class>reservationInfo.Jan_resServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jan_res</servlet-name>
    <url-pattern>*.jan_res</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>*.login</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>reservationInfo.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>*.reservation</url-pattern>
  </servlet-mapping>
</web-app>